.footer-section{
    background-color: #1e1e1e;
    max-width: 100%;
    height: 300px;
    margin-top: 30px;
    color: white;
    padding: 30px;
    padding-left: 80px;
}
.footer-copyright{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    padding: 9px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.social-icons{
    display: flex;
    margin-top: 20px;
}
.socialIcons{
    width: 30px;
    height: auto;
    margin: 5px;
    padding: 5px;
}
.socialIcons-two{
    width: 38px ;
    height: auto;
    margin: 5px;
    padding: 5px;
}
.store-icons{
    display:flex;
}
.storeIcons{
    padding: 5px;
    width: 140px;
    margin-top: 20px;
}
.storeIcons-two{
    padding: 5px;
    width: 120px;
    margin-top: 20px;
}