.navbar{
    background-color: linear-gradient(#006fff
    ,#0092ff);
}
.navbar-expand-lg {
    background-image:linear-gradient(#0092ff,#0075ff,#1e71ec) ;
}
.navbar-light .navbar-brand {
    color: rgba(255,255,255,0.9);
    font-weight: 600;
    font-size: 29px;
    padding-left: 80px;
}
.nav-link{
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-outline-success {
    color: rgba(255,255,255,0.9);
    background-color: #1e1e1e;
    padding: 0 15px;
    font-size: 20px;
    border-color: #198754;
}
.navbar-brand{
    padding-left: 80px;
    font-size: 25px;
}
.navbar-dark .navbar-brand {
    color:rgba(255,255,255,0.8);
    font-weight: 500;
}